<div class="aboveTheFold">
  <div class="aboveTheFold__decorativeChevron">
    <img src="/images/landing/Logo.svg" alt="GAP Logo" height="80" width="114">
  </div>
  <img class="aboveTheFold__backgroundImage" src="/images/GAPIcon.svg" alt="decorative background image of a stylized structure">
  <div class="aboveTheFold__text">
    <h1>Find Out If Your Construction Business Is&thinsp;<mark class="red-text">SALE-READY</mark></h1>
    <a href="https://www.gap-advisors.com/m-a-discovery-questionnaire" class="primaryCTA" target="_blank">
      Complete our Free M&A Discovery Questionnaire
    </a>
  </div>
</div>