<div class="cards">
  <h2>IF YOUR&thinsp;<mark class="red-text">SELL</mark>&thinsp;CRITERIA INCLUDES</h2>
  <div class="cards__container">
    <div class="cards__container__card">
      <div class="cards__container__card__text">
        <p>Selling for&thinsp;<mark class="red-text">FAIR MARKET VALUE</mark>&thinsp;or a&thinsp;<mark class="red-text">PREMIUM</mark></p>
      </div>
      <div class="cards__container__card__image cards__container__card__image--fairMarket"></div>
    </div>
    <div class="cards__container__card">
      <div class="cards__container__card__text">
        <p>Protecting your&thinsp;<mark class="red-text">CONFIDENTIALITY</mark></p>
      </div>
      <div class="cards__container__card__image cards__container__card__image--confidentiality"></div>
    </div>
    <div class="cards__container__card">
      <div class="cards__container__card__text">
        <p>Taking care of your&thinsp;<mark class="red-text">EMPLOYEES</mark></p>
      </div>
      <div class="cards__container__card__image cards__container__card__image--employees"></div>
    </div>
    <div class="cards__container__card">
      <div class="cards__container__card__text">
        <p>Protecting your&thinsp;<mark class="red-text">LEGACY</mark></p>
      </div>
      <div class="cards__container__card__image cards__container__card__image--legacy"></div>
    </div>
    <div class="cards__container__card">
      <div class="cards__container__card__text">
        <p>Selling on your&thinsp;<mark class="red-text">TERMS</mark></p>
      </div>
      <div class="cards__container__card__image cards__container__card__image--terms"></div>
    </div>
  </div>
  <h2>THEN YOU NEED A&thinsp;<mark class="red-text">TRANSACTION ADVISOR</mark></h2>
  <div class="cards__transactionAdviser">
    <div class="cards__transactionAdviser__imageContainer">
      <picture>
        <img src="/images/landing/cityscape.webp" alt="A transaction adviser checking a tablet">
      </picture>
    </div>
    <div class="cards__transactionAdviser__text">
      <ul>
        <li><p>Who specializes in Construction M&amp;A</p></li>
        <li><p>Who has been in&thinsp;<mark class="red-text">YOUR</mark>&thinsp;shoes as a founder/owner/seller</p></li>
        <li><p>Who has a massive proprietary database of buyers</p></li>
        <li><p>Who knows the underwriting criteria required by lenders</p></li>
        <li><p>Who can get the deal across the finish line</p></li>
      </ul>
    </div>
  </div>
</div>