<div class="howWeCanHelp">
  <h2>HOW WE CAN HELP&thinsp;<mark class="red-text">YOU</mark></h2>
  <div class="howWeCanHelp__container">
    <div class="howWeCanHelp__container__imageContainer">
      <picture>
        <img src="/images/landing/helpYou.webp" alt="A group of constructors planning a build">
      </picture>
    </div>
    <div class="howWeCanHelp__container__text">
      <p>We surround you with an experienced&thinsp;<mark class="red-text">TEAM</mark>&thinsp;capable of going toe-to-toe with your buyer’s team</p>
      <p>GaP custom processes are designed specifically for the Environmental Services Market</p>
      <ul>
        <li><p>We integrate deal terms in&thinsp;<mark class="red-text">YOUR</mark>&thinsp;favor</p></li>
        <li><p>We possess the financial acuity to defend&thinsp;<mark class="red-text">YOUR</mark>&thinsp;transferable value</p></li>
        <li><p>We tailor our processes to&thinsp;<mark class="red-text">YOUR</mark>&thinsp;goals</p></li>
        <li><p>Our financial interests are tied to&thinsp;<mark class="red-text">YOURS</mark></p></li>
      </ul>
    </div>
  </div>
</div>