@import './text';
@import './colors';
html, body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
}
* {
  box-sizing: border-box;
}
.pageLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .content {
    flex-grow: 1;
  }
}
h1,h2,h3,h4,h5,h6 {
  margin-block-end: 0;
}

.secondaryCTASection {
  background-image: url(/images/universal/tablet.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @media screen and (max-width: 500px) {
    background-position: -45em center;
  }
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 3em;

  &__card {
    h3 {
      margin: 0;
      font-size: 1.5em;
    }
    border-radius: 3px;
    border: 2px solid $gap-red;
    padding: 1em;
    background-color: white;
    max-width: 650px;
    a {
      margin: .5em 0;
    }
    small {
      display: block;
      @include bolded-text;
    }
  }
}