<div class="aboveTheFold">
  <div class="aboveTheFold__title">
    <h1 class="red-text">MEET</h1>
    <img src="/images/gap-nobuffer.webp" alt="Gilbert & Pardue">
  </div>
  <div class="aboveTheFold__heroImages">
    <div class="aboveTheFold__heroImages__heroImage">
      <figure>
        <a href="https://www.gap-advisors.com/team/matt-gilbert" target="_blank" aria-label="Get to know Matt Gilbert">
          <img src="/images/employees/Matt Gilbert.webp" alt="Photograph of Matt Gilbert">
        </a>
        <figcaption class="red-text">Matt Gilbert</figcaption>
        <figcaption>Founding Partner</figcaption>
        <a target="_blank" href="https://www.gap-advisors.com/team/matt-gilbert" class="aboveTheFold__heroImages__heroImage__link">Get to know Matt</a>
      </figure>
    </div>
    <div class="aboveTheFold__heroImages__heroImage">
      <figure>
        <a href="https://www.gap-advisors.com/team/bret-pardue" target="_blank" aria-label="Get to know Bret Pardue">
          <img src="/images/employees/Bret Pardue.webp" alt="Photograph of Bret Pardue">
        </a>
        <figcaption class="red-text">Bret Pardue</figcaption>
        <figcaption>Founding Partner</figcaption>
        <a target="_blank" href="https://www.gap-advisors.com/team/bret-pardue" class="aboveTheFold__heroImages__heroImage__link">Get to know Bret</a>
      </figure>
    </div>
  </div>
</div>
<div class="founderCopy">
  <p>
    Prior to founding GaP, Matt and Bret built construction companies from the ground up, they also acquired construction
    businesses and personally sold those companies to Private Equity Buyers, Competitors, and Public Companies.
  </p>
  <p>
    Having once walked in&thinsp;<mark class="red-text">YOUR</mark>&thinsp;shoes they know the challenges of marketing and successfully
    selling construction industry businesses.
  </p>
  <p>
    The first-hand experience Matt and Bret have with WIP, Retainage, Safety, Progress Billing, Estimating, Cost to 
    Complete, Inventory Management, Freight, Supply Chain, Unions, Warranties, Contract Terms, and Stored Materials 
    means this firm is well qualified to represent a construction business like&thinsp;<mark class="red-text">YOURS</mark>.
  </p>
  <p>
    At GaP, our mission is to provide better representation consistently leading to better results.
  </p>
  <p>
    Our in-house Accounting, Analytics, Finance, and Marketing teams are all manned by prior business owners and 
    seasoned executives who understand the intricacies of selling a business. Our client-to-broker ratio is among the 
    lowest in the industry.
  </p>

  <p>
    In practice, all of this translates into&thinsp;<mark class="red-text">YOU</mark>&thinsp;getting the absolute best representation in the business.
  </p>
</div>
