<footer class="footer">
  <img class="ghostImage" src="/images/footer/GhostLogo.svg" alt="GAP logo" tabindex="-1" />
  <div class="footer__linksArea">
    <div class="footer__linksArea__linkColumn">
      <h2>Site Navigation</h2>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/our-work">Our Work</a></li>
        <li><a href="https://www.gap-advisors.com/m-a-discovery-questionnaire">M&A Discovery Questionnaire</a></li>
        <li><a href="https://www.gap-advisors.com/contact-us">Contact Us</a></li>
        <li><a href="https://www.gap-advisors.com/" target="_blank">GAP Main Website</a></li>
      </ul>
    </div>
    <div class="footer__linksArea__linkColumn">
      <h2>Find us</h2>
      <div class="footer__linksArea__linkColumn__manualListItem">
        <img src="/images/footer/location.svg" alt="Location pin">
        <span>Houston, TX</span>
      </div>
      <div class="footer__linksArea__linkColumn__manualListItem">
        <img src="/images/footer/phone.svg" alt="Phone icon">
        <a href="tel:18006946950">1 (800) 694-6950</a>
      </div>
      <div class="footer__linksArea__linkColumn__manualListItem">
        <img src="/images/footer/mail.svg" alt="Mail logo">
        <a href="mailto:info@gap-advisors.com">info@gap-advisors.com</a>
      </div>
      <div class="footer__linksArea__linkColumn__manualListItem">
        <img src="/images/footer/linkedin.svg" alt="LinkedIn Icon">
        <a href="https://www.linkedin.com/company/gilbertandpardue" target="_blank">
          Find us on LinkedIn
        </a>
      </div>
    </div>
  </div>
  <span class="footer__copyright">Copyright &copy; GaP Advisors <span id="footerYear"></span></span>
</footer>