<nav class="navbar">
  <a href="/" aria-label="Home link">
    <svg xmlns="http://www.w3.org/2000/svg" width="85.65" height="60" viewBox="0 0 85.65 60">
      <g transform="translate(-839.887 -420.495)">
        <path d="M915.054,462.659v-9.015h2.261c10.409-.009,20.818.009,31.226-.043,3.465-.017,6.817-.7,9.491-3.081,3.71-3.3,4.252-7.6,3.167-12.135-1.068-4.461-4.533-6.483-8.662-7.455a51.011,51.011,0,0,0-6.008-.69v22.07H935.716V421.576c5.2,0,10.292-.107,15.376.049a31.8,31.8,0,0,1,6.7,1.056c8.145,2.044,13.207,6.994,14.2,15.582.826,7.154-.256,13.733-6.041,18.745a23.612,23.612,0,0,1-12.724,5.257,54.4,54.4,0,0,1-6.972.378c-9.652.039-19.3.016-28.956.016Z" transform="translate(-46.696 -0.649)" fill="#a91e24"/>
        <path d="M884.667,420.746v9.191c-4.832.345-9.558.426-14.2,1.08-5.889.828-11.329,2.885-15.514,7.448-7.441,8.111-5.533,22.36,3.865,28.059a31.346,31.346,0,0,0,15.686,4.307,4.524,4.524,0,0,0,.86-.172v-7.327h9.969v16.837c-3.043.116-6.05.392-9.048.312-8-.213-15.826-1.348-22.98-5.275-8.319-4.566-12.569-11.781-13.282-21.092-.577-7.549.645-14.69,5.576-20.827,4.24-5.278,9.929-8.237,16.217-10.173a65.9,65.9,0,0,1,20.732-2.6C883.221,420.522,883.9,420.658,884.667,420.746Z" fill="#a91e24"/>
        <path d="M980.665,550.635c-.565.049-1.053.126-1.542.128-2.826.012-5.651.006-8.589.006V533.707h10.13Z" transform="translate(-81.162 -70.331)" fill="#6d6e6e"/>
        <path d="M938.761,472.133a24.818,24.818,0,0,0-2.985-.6,5.44,5.44,0,0,0-1.68.42c-2.034.534-4.078.635-5.6-1.041a5.312,5.312,0,0,1-.921-5.819,4.668,4.668,0,0,1,4.459-2.907c1.185-.077,2.379-.014,3.55-.014.361-2.926-1.075-3.173-7.333-1.4-.672-2.789-.311-3.4,2.285-3.888.555-.1,1.108-.237,1.669-.284,3.86-.322,7.11,1.531,6.911,5.893-.134,2.956-.045,5.922-.064,8.883A4.2,4.2,0,0,1,938.761,472.133Zm-3.152-7.067a28.57,28.57,0,0,0-3.34.026,1.985,1.985,0,0,0-1.841,2.378c.084,1.345.888,1.835,2.128,1.856C934.593,469.362,935.922,467.573,935.608,465.067Z" transform="translate(-54.18 -22.403)" fill="#6d6e6e"/>
      </g>
    </svg>
  </a>
  <div id="breadcrumbs"></div>
</nav>
<div class="navbarBackdrop" id="backdrop" onclick="toggleNavbar()"></div>
<nav class="expandableNavbar" id="navbar">
  <div class="expandableNavbar__toggleArea">
    <button aria-label="Toggle navbar" onclick="toggleNavbar()">
      <svg xmlns="http://www.w3.org/2000/svg" width="42" height="22" viewBox="0 0 42 22">
        <rect width="42" height="3" rx="1.5" fill="#fff"/>
        <rect width="42" height="4" rx="2" transform="translate(0 9)" fill="#fff"/>
        <rect width="42" height="3" rx="1.5" transform="translate(0 19)" fill="#fff"/>
      </svg>
    </button>
  </div>
  <div class="expandableNavbar__links">
    <a href="/about">About Us</a>
    <a href="/our-work">Our Work</a>
    <a href="/">Home</a>
  </div>
</nav>

