<div class="secondaryCTASection">
  <div class="secondaryCTASection__card">
    <h3>Find Out If Your Environmental Business Is&thinsp;<mark class="red-text">Sale-Ready</mark></h3>
    <a href="https://www.gap-advisors.com/m-a-discovery-questionnaire" target="_blank" class="secondaryCTA">
      Complete our Free M&A Discovery Questionnaire
    </a>
    <small>Once complete we'll schedule a confidential no-obligation call to answer your questions about the M&A process and whether it's the right time for you to sell your business.</small>
  </div>
</div>