* {
  font-family: 'Raleway', sans-serif;
}

.red-text {
  color: #A91E24;
}

mark {
  background: none;
}

h1 mark.red-text {
  display: inline;
}

h2 mark.red-text, h3 mark.red-text, h4 mark.red-text, h5 mark.red-text, h6 mark.red-text, p mark.red-text, li mark.red-text {
  display: inline;
}

li p {
  margin: 0;
}

.aboveTheFold {
  background-image: url(/images/our-work/bubbles.svg);
  background-position: right top;
  background-repeat: no-repeat;
  padding: 2em;
  background-size: 200px;
  max-width: 1280px;
  margin: 0 auto;
}

.aboveTheFold h1 {
  font-size: 3em;
}

.aboveTheFold .red-text {
  white-space: initial !important;
}

.aboveTheFold__industries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aboveTheFold__industries__industry {
  max-width: 150px;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-animation: SlideDown .3s forwards;
          animation: SlideDown .3s forwards;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.aboveTheFold__industries__industry img {
  height: 150px;
  width: 150px;
  -webkit-clip-path: circle(74px);
          clip-path: circle(74px);
  background-color: #434343;
}

.workSampling {
  padding: 2em;
  background-size: 200px;
  max-width: 1280px;
  margin: 0 auto;
}

.workSampling h1 {
  font-size: 3em;
}

.workSampling .red-text {
  white-space: initial !important;
}

.workSampling__works {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.workSampling__works__work {
  text-decoration: none;
  -webkit-transition: background-color .3s ease-out;
  transition: background-color .3s ease-out;
  background-color: white;
  margin: .5em;
  border: 1px solid #0B4A9F;
  -webkit-box-shadow: 0px 4px 4px 2px rgba(8, 1, 128, 0.2);
          box-shadow: 0px 4px 4px 2px rgba(8, 1, 128, 0.2);
  border-radius: 3px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  color: black;
}

.workSampling__works__work:hover {
  background-color: #fafafa;
}

.workSampling__works__work figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-width: 300px;
}

.workSampling__works__work figure figcaption {
  max-width: 250px;
}

.workSampling__works__work figure img {
  height: 150px;
  width: 150px;
  -webkit-clip-path: circle(70px);
          clip-path: circle(70px);
}

.whatOthersAreSaying {
  padding: 2em;
  background-size: 200px;
  max-width: 1280px;
  margin: 0 auto;
}

.whatOthersAreSaying h1 {
  font-size: 3em;
}

.whatOthersAreSaying .red-text {
  white-space: initial !important;
}

.whatOthersAreSaying__awards {
  background-image: url(/images/footer/GhostLogo.svg);
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.whatOthersAreSaying__awards__award {
  text-decoration: none;
  -webkit-transition: background-color .3s ease-out;
  transition: background-color .3s ease-out;
  background-color: white;
  margin: .5em;
  border: 1px solid #0B4A9F;
  -webkit-box-shadow: 0px 4px 4px 2px rgba(8, 1, 128, 0.2);
          box-shadow: 0px 4px 4px 2px rgba(8, 1, 128, 0.2);
  border-radius: 3px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  color: black;
}

.whatOthersAreSaying__awards__award:hover {
  background-color: #fafafa;
}

.whatOthersAreSaying__awards__award figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-width: 300px;
}

.whatOthersAreSaying__awards__award figure figcaption {
  max-width: 250px;
}

.whatOthersAreSaying__awards__award figure img {
  height: 150px;
  width: 150px;
  -webkit-clip-path: circle(70px);
          clip-path: circle(70px);
}

@-webkit-keyframes SlideDown {
  from {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes SlideDown {
  from {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.animatedImage {
  position: relative;
  height: 150px;
  width: 150px;
}

.animatedImage img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.animatedImage img:nth-of-type(1) {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.animatedImage img:nth-of-type(2) {
  opacity: 0;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  z-index: 1;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.animatedImage--animated img:nth-of-type(2) {
  -webkit-animation-name: FadeInOut;
          animation-name: FadeInOut;
}

@-webkit-keyframes FadeInOut {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 100%;
  }
  60% {
    opacity: 100%;
  }
  75% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes FadeInOut {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 100%;
  }
  60% {
    opacity: 100%;
  }
  75% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}
/*# sourceMappingURL=style.css.map */